/*****************************************
 * Utils
 *****************************************/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}



/*****************************************
 * Main
 *****************************************/
html, body {
    font-size: 11px;
    font-family: consolas, "courier new", monospace;
    color: #000;
}
a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
body {
    background: #f9ffd9;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4000;
}
.navbar > div {
    background: #000;
    width: 100%;
    min-height: 40px;
}
.navbar .button,
.navbar .group {
    display: block;
    float: left;
    margin-right: 7px;
    height: 24px;
    line-height: 24px;
    padding: 0 24px 0 7px;
    margin-top: 8px;
    border-radius: 2px;
    cursor: pointer;
}
.navbar .button {
    color: #f9ffd9;
    background: #222;
}
.navbar .group {
    position: relative;
    color: #000;
    background: #55aba8;
}
.navbar .group .remove {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background: #000;
    color: #55aba8;
    height: 14px;
    width: 14px;
    line-height: 14px;
    border-radius: 2px;
    text-align: center;
}
.navbar .brand {
    color: #fde35b;
    padding: 0 10px;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    display: block;
    float: left;
}
.navbar .brand span {
    color: #55aba8;
}
#schema {
    position: absolute;
    top: 40px;
    left: 0;
}
#schema > div {
    position: relative;
}
.table {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    border-radius: 3px;
}
h2, .field {
    padding: 0 7px;
    overflow: hidden;
}
h2 {
    position: relative;
    height: 26px;
    line-height: 26px;
    text-transform: uppercase;
    background: #000;
    color: #55aba8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    cursor: move;
    margin: 0;
}
.collapsed h2 {
    border-radius: 3px;
}
h2 .toggle {
    display: block;
    top: 5px;
    right: 7px;
    width: 16px;
    height: 16px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    color: #fff;
}
.field {
    height: 24px;
    line-height: 24px;
    background: rgba(253, 227, 91, 0.85);
    border-top: 1px solid #f4da59;
    overflow: hidden;
    font-size: 10px;
}
h3 {
    /*text-transform: uppercase;*/
    display: inline;
    font-size: 11px;
    font-weight: normal;
}
.field .type {
    margin-top: 4px;
    color: #a79041;
    display: inline-block;
    background: #fff593;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 2px;
}
.field:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999999;
    background: #f9ffd9;
    padding: 10px;
    border-radius: 2px;
    display: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    min-width: 200px;
    min-height: 30px;
}
#dialog input[type="text"] {
    border: none;
    outline: none;
    background: #fde35b;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 7px 9px;
}
#dialog .error {
    display: block;
    background: #fc504e;
    color: #f9ffd9;
    padding: 5px 7px;
    border-radius: 3px;
    margin-top: 0;
}
#dialog .error strong {
    font-weight: bold;
}
#dialog .confirm {
    display: block;
    background: #fde35b;
    padding: 5px 7px;
    border-radius: 3px;
    margin-top: 0;
}
#dialog .button {
    outline: none;
    background: #000;
    border: none;
    color: #55aba8;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    padding: 0 9px;
}
#dialog .actions {
    text-align: center;
    margin-bottom: 0;
}
.group-tables {
    margin-top: 0;
    padding: 0;
}
.group-tables li {
    list-style: none;
    margin-bottom: 3px;
}
.group-tables li > span {
    display: block;
    position: relative;
    padding: 0 7px;
    height: 22px;
    line-height: 22px;
    background: #fde35b;
}
.group-tables li > span .remove {
    display: block;
    position: absolute;
    height: 12px;
    width: 12px;
    line-height: 12px;
    background: #fc504e;
    top: 5px;
    right: 7px;
    text-align: center;
    cursor: pointer;
    color: #fde35b;
    border-radius: 2px;
}

.hidden {
    display: none;
}



/*****************************************
 * SVG
 *****************************************/
#svg, svg {
    width: 100%;
    height: 100%;
}
#svg path {
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke: #fde35b;
    fill: none;
    /*stroke-dasharray: 1, 3;*/
}
#svg path.highlight {
    stroke: #55aba8;
}
#svg rect.group {
    stroke-width: 1px;
    stroke: #a79041;
    fill: #fde35b;;
    opacity: 0.5;
}
